@model IEnumerable<BitirmeTeziKerim.Models.Sayilar>

@{
    ViewData["Title"] = "Sayılar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Sayılar</h1>


<table class=" table">
    <thead class="btn-danger">
        <tr>
            <th>
                <h1>   @Html.DisplayNameFor(model => model.SayiTablo)su(Tablo İsmi)</h1>
</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            <tr class="btn-success">
             
                <td>
                    <h3>   @Html.DisplayFor(modelItem => item.SayiTablo)</h3>
                </td>
            </tr>
        }
    </tbody>
</table>
