@model BitirmeTeziKerim.Models.DuyuruLinkTablo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Link Düzenle</h1>

<h4>Duyuru Link Tablosu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="KoyulacakLink" class="control-label">Orta Tabloya Koyulacak Linkin Gömülü Linki</label>
                <input asp-for="KoyulacakLink" class="form-control" />
                <span asp-validation-for="KoyulacakLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoyulacakLink2" class="control-label">Sağ Tabloya Koyulacak Linkin Gömülü Linki</label>
                <input asp-for="KoyulacakLink2" class="form-control" />
                <span asp-validation-for="KoyulacakLink2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Link Bölümüne Geri Dön</a>
</div>

