@model BitirmeTeziKerim.Models.Duyuru

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Duyuru Oluşturma</h1>

<h4>Duyuru</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
              <h3><b>  <label asp-for="Image" class="control-label">Yüklenicek Fotoğraf</label></b></h3>
                <input asp-for="Image" type="file" class="form-control btn-dark" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h3>  <b> <label asp-for="Aciklama" class="control-label"></label></b></h3>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Duyurulara Geri Dön.</a>
</div>

